@import '../../../components/Cabecalho/cabecalho.sass'
@import '../../../components/OrderMain/order-main.sass'
@import '../../../components/CreateOrder/create-order.sass'
@import '../../../components/Rodape/rodape.sass'
@import '../../../components/OrdersList/orders-list.sass'
@import '../../../components/OrdersCardList/orders-card-list.sass'   
@import '../../../components/Modals/OrderCreatedModal/order-created-modal.sass' 
 
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    min-height: 100vh
    width: 100%
    margin: 0 auto
    position: relative